.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: rgb(10,25,41);
    padding-top: 25px;
    color: #fff;
}
 
.sidenavClosed {
    transition: width 0.3s ease-in-out;
    width: 80px;
    background-color: #002242;
    bottom: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    color: #fff;
    padding-top: 25px;
}
 
.sideitem {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #004484;
}
 
.linkText {
    padding-left: 16px;
}
 
.linkTextClosed {
    visibility: hidden;
}
 
.sideitem:hover {
    background-color: #244f7d1c;

}
 
.menuBtn {
    align-self: center;
    align-self: flex-start; 
    justify-self: flex-end;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}
